.app {
    width: 90%;
    margin: auto;
}

.title {
    text-align: center;
}

.container {
    width: 95%;
    /* height: 300px; */
    /* background: aqua; */
    margin: auto;
    /* padding: 1px; */
}

.text-container {
    width: 60%;
    margin: auto;
}
/* .container:hover {
    background-color: #CDCDCD;
} */

.star {
    width: 3%;
    float: left;
    /* background-color: rgb(4, 39, 4); */
}
.one {
    width: 67%;
    float: left;
    text-align: left;
    /* background-color: red; */
}
.two {
    margin-left: 70%;
    width: 30%;
    /* height: 200px; */
    /* background: yellowgreen; */
}

.noResult {
    width: 60%;
    /* height: 300px; */
    /* background: red; */
    float: left;
    text-align: left;
}
.search-results {
    list-style-type: none;
    padding-left: 0;
}

.search {
    width: 500px;
    height: 30px;
    /* background: aqua; */
    margin: auto;
    /* padding: 5px; */
    /* position: absolute; */
    /* top: 355px;
    left: 575px; */
}

.clear {
    /* clear: both; */
    content: "";
  display: table;
  clear: both;
}

input:focus, textarea:focus {
    outline: none;
}

.results {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}